# Ignore FAISS index
faiss_index/

# Ignore virtual environments
venv/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore .env file (API keys)
.env

# Ignore log files
*.log
install_log.txt

# Ignore OS files
.DS_Store
Thumbs.db
